<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7654942469-6lk3n2rtlsganjfi33kuh8n5j7qf9me6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7654942469-6lk3n2rtlsganjfi33kuh8n5j7qf9me6</string>
	<key>API_KEY</key>
	<string>AIzaSyDKjeJFsVaKgjsKUb7OmRgsiQMJnvesRVE</string>
	<key>GCM_SENDER_ID</key>
	<string>7654942469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fmi.justForFun.justForFun</string>
	<key>PROJECT_ID</key>
	<string>justforfun-aaa68</string>
	<key>STORAGE_BUCKET</key>
	<string>justforfun-aaa68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7654942469:ios:3f580250357642062eb96c</string>
</dict>
</plist>